
.idea
out
*.iml
*.xml
.DS_Store

../../../week-02/day-03/src/com/
../../../week-02/day-04/src/com/
../../../week-02/day-05/src/com/
../../../week-02/weekend-02/src/com/
../../day-02/src/com/
com/
../../videos/src/com/
