<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <th:block th:include="thFragments :: head" />
</head>
<body>
    <div class="container" role="main">
        <h1>tourist information</h1>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>name</th>
                    <th>city</th>
                    <th>price</th>
                    <th>longitude</th>
                    <th>latitude</th>
                    <th>category</th>
                    <th>duration</th>
                    <th>recommended age</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="attraction : ${attractions}" th:object="${attraction}">
                    <td th:text="*{attractionName}"></td>
                    <td th:text="*{city}"></td>
                    <td th:text="*{price}"></td>
                    <td th:text="*{longitude}"></td>
                    <td th:text="*{latitude}"></td>
                    <td th:text="*{category}"></td>
                    <td th:text="*{duration}"></td>
                    <td th:text="*{recommendedAge}"></td>
                </tr>
            </tbody>
        </table>
        <h2>add attraction</h2>
        <form th:object="${newAttraction}" action="#" th:action="@{/add}" method="post">
            <input type="number" th:field="*{id}" hidden/>
            <label for="name">name</label><br>
            <input type="text" th:field="*{attractionName}" id="name" required/><br>
            <label for="city">city</label><br>
            <input type="text" th:field="*{city}" id="city" required/><br>
            <label for="price">price</label><br>
            <input type="number" th:field="*{price}" id="price" required/><br>
            <label for="longitude">longitude</label><br>
            <input type="number" th:field="*{longitude}" id="longitude" required/><br>
            <label for="latitude">latitude</label><br>
            <input type="number" th:field="*{latitude}" id="latitude" required/><br>
            <label for="category">category</label><br>
            <input type="text" th:field="*{category}" id="category" required/><br>
            <label for="duration">duration</label><br>
            <input type="number" th:field="*{duration}" id="duration" required/><br>
            <label for="recAge">recommended age</label><br>
            <input type="number" th:field="*{recommendedAge}" id="recAge" required/><br>
            <button type="submit" class="btn btn-info" th:style="'margin-top: 10px;'">submit</button>
        </form>
    </div>
<script th:replace="thFragments :: bootstrapjs"></script>
</body>
</html>