<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>shelter</title>
</head>
<body>
    <div class="container">
        <h1>shelters</h1>
        <div>
            <ul>
                <li th:each="shelter : ${shelters}">
                    <a th:href="@{'/shelter/' + ${shelter.id}}" th:text="${shelter.name}"></a>
                </li>
            </ul>
        </div>
        <div>
            <form action="/shelters" method="post">
                <h2>create new shelter</h2>
                <div>
                    <label for="shelterName">name:</label>
                    <input type="text" id="shelterName" name="shelter-name" />
                </div>
                <div>
                    <input type="submit" value="create" />
                </div>
            </form>
        </div>
    </div>
</body>
</html>