<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Title</title>
    <style>

        body {
            background-color: gainsboro;
        }

        h2 {
            font-size: 35px;
            color: darkorange;
            text-align: center;
        }

        form {
            width: 500px;
            margin-left: 520px;
        }

        input {
            margin: 20px;
        }

        label {
            font-size: 16px;
        }
    </style>
</head>
<body class="container">
    <h2>edit todo</h2>
    <form action="#" th:action="@{'/todo/' + ${todo.id} + '/edit'}" method="post" th:object="${todo}">
        <label for="todoDescription">description</label>
        <input type="text" id="todoDescription" th:field="*{title}"/><br>
        <label for="isUrgent">urgent</label>
        <input type="checkbox" id="isUrgent" th:field="*{urgent}"/><br>
        <label for="isDone">done</label>
        <input type="checkbox" id="isDone" th:field="*{done}"/><br>
        <input type="submit" value="submit" />
        <a href="/todo/">cancel</a>
    </form>
</body>
</html>