<!DOCTYPE html>
<html lang=en xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>programmer-fox-club</title>
</head>
<body th:style="'text-align:center;'">
    <ul>
        <li>
        <a href="">information</a>
        </li>
    </ul>
    <img th:style="'display:center;'" src="greenfox.png">
    <div>
    <p th:text="'this is ' + ${name} + '. currently living on ' + ${fox.food} + ' and ' +${fox.drink}"></p>
    </div>
    <div>
    <h1 th:text="'tricks ' + ${name} + ' knows: '"></h1>
    <ul>
        <li th:each="trick : ${fox.tricks}" th:text="${trick}"></li>
    </ul>
    </div>
</body>
</html>