<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>programmer-fox-club</title>
</head>
<body th:style="'text-align:center;'">
    <ul>
        <li>
        <a href="">information</a>
        </li>
    </ul>
    <img th:style="'display: center;'" src="greenfox.png">
    <p>this is mr. fox. currently living on pizza and lemonade. he knows 2 tricks</p>
    <h1>tricks mr. fox knows: </h1>
    <ul>
        <li>write HTML</li>
        <li>code in Java</li>
    </ul>
</body>
</html>