<!DOCTYPE html>
<html lang=en xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>login</title>
</head>
<body th:style="'text-align:center; background-color:green;'">
    <h1>welcome to programmer fox club</h1>
    <p>please provide a name for your pet</p>
    <form action="/login" method="post">
       <!-- <label for="text">name: </label> -->
        name:
        <input type="text" placeholder="name of pet" maxlength="30" name="name">
        <input type="submit" value="enter">
    </form>
</body>
</html>