<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="thFragments :: head" />
</head>
<body>
  <div class="container">
      <h1>Space Transporter</h1>
      <table class="table table-striped">
          <thead>
            <th>planet</th>
            <th>population</th>
            <th>spaceship location</th>
            <th>people on ship</th>
          </thead>
          <tbody>
            <tr th:each="planet : ${planets}">
               <form action="#" th:object="${planet}" method="post">
                   <td th:text="*{name}"></td>
                   <td th:text="*{population}"></td>
                   <td th:if="${spaceship.planetName} == *{name}">
                       <a th:href="@{'/toplanet/' + *{id}}">← to planet</a>
                       <a th:href="@{'/toship/' + *{id}}">to ship →</a>
                   </td>
                   <td th:unless="${spaceship.planetName} == *{name}">
                       <form action="#" th:action="@{'/movehere/' + {id}}" method="post">
                            <button type="submit" class="btn btn-info">move here</button>
                       </form>
                   </td>
                   <td></td>
               </form>
            </tr>
          </tbody>
      </table>
  </div>
  <script th:replace="thFragments :: bootstrapjs"></script>
</body>
</html>